/* SETUP */

@font-face {
  font-family: 'Share Tech Mono';
  src: url('./fonts/ShareTechMono-Regular.ttf');
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('./fonts/RobotoMono-Medium.ttf');
}

/* VARIABLES */

body {
  --link_color:#ff751a;
  
  --color_primary:white;
  --color_dark:#5e5e5e;
  --color_darker:#333333;
  --color_deviant:#332fb3;
  
  --background:black;
  --background2:#333;
  --background3:#b3b3b3;
  
  --title_font: 'Share Tech Mono', monospace;
  --default_font: 'Roboto Mono', monospace;
}

/* RESET */

* {
  position:relative;
  min-height:0;
  min-width:0;
  margin:0;
  padding:0;
  flex-direction:column;
  box-sizing:border-box;
  background-position: center center;
  background-size: cover;

  font-smooth: never;
  -webkit-font-smoothing:none;
  -moz-osx-font-smoothing:greyscale;

  scrollbar-color: var(--background1) var(--background3);
  scrollbar-width: thin;
  
  /* Default font */
  font-size: 20px;
  font-family: var(--default_font);
  
  /* Default color */
  color: white;
}

/* Elements */

h1, h2, h3, h4, h5, h6 {
  font-family: var(--title_font);
}

h1 {
  font-size: 6.0em;
}

h2 {
  font-size: 5.0em;
}

h3 {
  font-size: 4.2em;
}

h4 {
  font-size: 3.6em;
}

h5 {
  font-size: 3.0em;
}

h6 {
  font-size: 2.6em;
}

body {
  background-color: black;
}

/* Projects list */

@keyframes fade-in1 {
  from {
    color: transparent;
    outline-color: transparent;
    border-color: transparent;
  }
}

* {
  animation-name: fade-in1;
  animation-duration: 0.06s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0, 0, 1, 0);
}

/* Used both to contain project list and for individual project display. */
#project_container {
  margin:  2em;
  
  outline-style: solid;
  outline-width: 2px;
  outline-color: white;
  
  position: fixed;
  top:    0;
  bottom: 0;
  left:   0;
  right:  0;
  
  overflow-y: auto;
  
  scrollbar-color: var(--color_primary) #151515;
  /* scrollbar-width: thin; */
  
}

#project_detail {
  margin: 2em;
}

#project_detail > :not(:first-child) {
  padding: 0;
  padding-left: 2em;
}

#project_detail > p {
  
  max-width: 40em;
  
  border-right-width: thick;
  border-right-color: gray;
  border-right-style: dashed;
  
  padding-bottom: 2em !important;
  
}

.project_item {
  
  float: left;
  
  margin: 1em;
  padding: 0.5em;
  
  outline-style: solid;
  outline-width: 1px;
  outline-color: white;
  
  width: 17em;
  height: 10em;
  
  min-width: 10em;
  max-height: 10em;
  
  overflow-y: hidden;
  
}

.project_item:hover {
  background-color: var(--background2);
}

.loading_text {
  animation-name: fade-in1;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0, 0, 1, 0);
}